body {
    background-image: url("pexels-cameron-yartz-6921209.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p {
    Color: white;
}

input {
    padding: 10px;
}
